
.det {
    margin: 0;
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
}
.watch_list_box {
    width: 45%;
    padding: 0.8rem;
    margin: 00.8rem;
    color: white;
    display: flex;
    flex-direction: column;
}
  .watch_list_box b {
    font-size: 3rem;
}
  .clear_history_btn {
    color: grey;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    margin: auto 0;
}
  .clear_history_btn:hover {
    color: white;
}
.right_side  h2{
    text-decoration: underline;
    color: white;
}
.leftside_whl {
    background-color: rgba(0, 0, 0, 0.153);
    height: 50vh;
}

.video_list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    overflow-y: auto;
    overflow-x: hidden;
}